<div class="text-with-image">
    <%= image_tag("knits/knitting.jpg", class: "img-responsive img-wrap") %>
    <div>
        <h1 class="hdr">About Home Knits</h1>
        <div class="about-text">
            <p>All of our products are hand-knitted and made from high-quality yarn.</p>
            <p>Our knitters carefully decide which colors to use in each product to create the warmth and comfort of home.</p>
            <p>Hours and hours are spent knitting each product to create that perfect item that you are looking for.</p>
        </div>
    </div>
</div>