<h1>Contact Dynamic Math</h1>
<p>Dynamic Math is located in Arvada, CO. Our goal is to help teachers spend less time creating material and focusing on student achievement.</p>
<div class="row section-contact">
  <div id="contactInfo" class="page_body contact-info">
    <!--<h2>Phillip Patrick</h2>-->

    <div class="email contact-info-spacer">
      <i class="fas fa-envelope"></i>
      <a href="mailto:phillip.n.patrick@gmail.com">phillip.n.patrick@gmail.com</a>
    </div><!-- end email -->

    <div class="physical-address contact-info-spacer">
      <i class="fas fa-map-marker"></i>
      15561 W 64th Pl Unit C | Arvada, CO 80007
    </div><!-- end physical-address -->

    <div class="phone contact-info-spacer">
      <i class="fas fa-mobile-alt"></i>
      <a href="tel:+18042413035">804.241.3035</a>
    </div><!-- end phone -->
  </div>
</div>