<div class="text-with-image">
    <!--<%= image_tag("dynamic-math.jpg", class: "img-responsive img-context") %>-->
    <div>
        <h1 class="hdr hdr-introduction">Welcome to Home Knits!</h1>
        <h5 class="hdr-description">Your source for knits that make your home feel cozy, inviting, and warm.</h5>
        
        <div class="polaroid">
          <%= image_tag("knits/easy-breezy.jpg", class: "img-responsive img-focus") %>
          <div class="polaroid-container">
              <h5 class="product product-title">Easy Breezy Afghan</h5>
          </div>
        </div>
    </div>
</div>