<div class="text-with-image">
    <%= image_tag("dynamic-math.jpg", class: "img-responsive img-context") %>
    <div>
        <h1>Welcome to Dynamic Math</h1>
        <h2>Your source for math worksheets!</h2>
    </div>
</div>