<div class="row">
  <div class="col-md-6 col-lg-6">
      <div class="thankyou-body">
          <h4>Thank You</h4>
          <p>Your message has been sent and we will respond as soon as possible.</p>
      </div>
  </div>
  <div class="col-md-6 col-lg-6 email-form">
    <%= image_tag("thankyou.jpg", class: "img-fluid") %>
  </div>
</div>