<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; border: 1px solid #cccccc">
    <tr>
        <td bgcolor="#ffffff" style="padding: 10px 10px 8px 5px">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td>
                        <%= image_tag("knits/logo.jpg", size: "40x40", alt: "Home Knits", style:"display: inline;") %>
                        <span style="display: inline;font-family: 'Special Elite', cursive; font-size: 16pt;">Home Knits</span>
                    </td>
                </tr>
                <tr>
                    <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px">
                        <p>Message from <strong style="color: red"><%= @name %></strong>:</p>
                    </td>
                </tr>
                <tr>
                    <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px">
                        <p style="color: red"><strong><%= @message %></strong></p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px 0 30px 0;"></td>    
                </tr>
            </table>
        </td>
    </tr>
</table>