<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Special+Elite|Life+Savers" rel="stylesheet">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Demystifying Email Design</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="margin: 0; padding: 0;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; border: 1px solid #cccccc">
            <tr>
                <td bgcolor="#ffffff" style="padding: 10px 10px 8px 5px">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <%= image_tag("knits/logo.jpg", size: "40x40", alt: "Home Knits", style:"display: inline;") %>
                                <span style="display: inline;font-family: 'Special Elite', cursive; font-size: 16pt;">Home Knits</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px">
                                <p>Message from <strong style="color: red"><%= @name %></strong>:</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px">
                                <p style="color: red"><strong><%= @message %></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 20px 0 30px 0;"></td>    
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>