// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product {
    padding-bottom: 50px;
}

.product-label {
    font-weight: bold;
}

.product-special {
    color: white !important;
}

.product-title {
    color: steelblue;
    font-family: 'Fredericka the Great', cursive;
    font-size: 20pt;
}

.product-img {
    padding-bottom: 20px;
    max-width: 400px;
    max-height: 600px;
}

.product-description {
    color: mediumslateblue;
    font-family: 'Life Savers', cursive;
    font-size: 14pt;
    font-weight: bold;
}

.product-text, .product-links, .product-links a {
    color: mediumslateblue;
    font-family: 'Life Savers', cursive;
    font-size: 14pt;
    font-weight: bold;
}

.product-all-users, .product-admin {
    display: inline;
}

.product-price, .product-rating {
    font-family: 'Life Savers', cursive;
    font-size: 14pt;
    font-weight: bold;
}

.product-control {
    width: 30%;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.thumbnail img{
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

.product-reviews {
    margin-bottom: 50px;
}

.comment {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 25px;
}

.comment-icon {
    padding-right: 10px;
}

.author h5 {
    font-size: 1rem;
}

.customer-rating {
    font-weight: bold;
    font-family: 'Life Savers', cursive;
    margin-bottom: 5px;
}

.comment-body p {
    font-family: Helvetica, sans-serif;
}

.comment-lbl {
    font-weight: bold;
    font-family: 'Life Savers', cursive;
    // display: inline;
}

.rating {
}

.pagination {
    font-family: Helvetica, sans-serif;
    color: blue;
    margin-bottom: 5px;
}

.page-entries {
    font-family: Helvetica, sans-serif;
}

.comment-admin {
    margin-left: 10px;
    color: red;
    display: inline;
}

.comment-admin a {
    color: red;
}