.navbar-brand {
    font-family: 'Special Elite', cursive;
    // text-transform: uppercase;
}

.nav-link {
    font-family: 'Special Elite', cursive;
    font-size: 16pt;
}

body {
    // background-color: ivory;
    // background-color: #BDC8CA;
    background-color: #D9E2E1;
    height: 100%;
    position: relative;
}

.page-body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 70px;
    min-height: 70vh; /* cover 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of footer */
}

.text-with-image {
    position: relative;
}

.img-context {
    position: absolute;
    top: 0px;
    right: 0px;
}

.img-wrap {
    float: right;
}

.hdr {
    color: steelblue !important;
    font-family: 'Special Elite', cursive !important;
}

/*** Home (index) ***/
.home {
    background-image: image-url("snow/forest-during-winter.jpg"); /* Use image-url vs url when using Rails */
    background-attachment: fixed; /* Reveals image as scrolling */
    background-size: cover;
    height: 900px;
}

.hdr-introduction {
    text-align: center;
}

.hdr-description {
    font-family: 'Life Savers', cursive !important;
    font-weight: bold;
    text-align: center;
}

.img-focus {
    border-radius: 10px;    // rounded edges
    display: block;         // to help with centering image
    height: auto;           // adjust height to browswer screen
    margin-left: auto;      // centering
    margin-right: auto;     // centering
    width: 50%;            // adjust width of image
}

.polaroid {
    border-radius: 10px;    // rounded edges
    display: block;       // center horizontally
    margin-left: auto;    // center horizontally
    margin-right: auto;   // center horizontally
    
    width: 50%;
    background-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 40px;
    padding-top: 40px;
    // opacity: 0.25;
    
    // background: rgba(76, 175, 80, 0.1);
}

.polaroid-container {
    border-radius: 10px;    // rounded edges
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

/*** About ***/
.about-text p {
    color: mediumslateblue;
    font-family: 'Life Savers', cursive;
    font-size: 14pt;
    font-weight: bold;
}

/*** Contact ***/
.contact-text p {
    color: mediumslateblue;
    font-family: 'Life Savers', cursive;
    font-size: 14pt;
    font-weight: bold;
}

.section-contact {
  background-image: image-url("contact.jpg"); /* Use image-url vs url when using Rails */
  background-attachment: fixed; /* Reveals image as scrolling */
  background-size: cover;
  color: white;
  height: 500px;
  padding-left: 500px;
  padding-top: 30px;
}

.section-contact a {
  color: mediumslateblue;
  transition: color 600ms;
}

.section-contact a:hover {
  color: blue;
  text-decoration: none;
}

.contact-info {
  display: inline-block;
  margin-top: 10px;
}

.contact-info-spacer {
  margin-top: 5px;
}

/*** footer ***/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.my-footer {
    float: right;
    font-family: 'Special Elite', cursive;
    font-size: 12pt;
    font-weight: bold;
    margin-right: 25px;
}