.navbar-brand {
    font-family: 'Special Elite', cursive;
    // text-transform: uppercase;
}

.nav-link {
    font-family: 'Special Elite', cursive;
    font-size: 16pt;
}

body {
    // background-color: ivory;
    // background-color: #BDC8CA;
    background-color: #D9E2E1;
    height: 100%;
    position: relative;
}

.page-body {
    font-family: 'Life Savers', cursive;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 70px;
    min-height: 70vh; /* cover 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of footer */
}

.page-body a {
    font-weight: bold;
    font-size: 12pt;
}

.notice {
    font-weight: bold;
}

.alert {
    color: red;
    font-weight: bold;
}

.text-with-image {
    position: relative;
}

.img-context {
    position: absolute;
    top: 0px;
    right: 0px;
}

.img-wrap {
    float: right;
}

.hdr {
    color: steelblue !important;
    font-family: 'Special Elite', cursive !important;
}

.relative {
    position: relative;
}

.btn-search {
    top: 20%;
    color: inherit;
    position: absolute;
    display: block;
    right: 1rem;
    opacity: .6;
    background: rgba(0,0,0,0);
    border: none;
    margin: 0;
    padding: 0;
}

.txt-search {
    border-radius: 9999px;
    background-color: #f1f3f5;
    padding-top: 0.75rem;
    // padding-bottom: 0.75rem;
    // padding-left: 1.5rem;
    // padding-right: 1.5rem;
    font-family: 'Special Elite', cursive;
}

/*** Home (index) ***/
.home {
    background-image: image-url("snow/forest-during-winter.jpg"); /* Use image-url vs url when using Rails */
    background-attachment: fixed; /* Reveals image as scrolling */
    background-size: cover;
    height: 900px;
}

.hdr-introduction {
    text-align: center;
}

.hdr-description {
    font-family: 'Life Savers', cursive !important;
    font-weight: bold;
    text-align: center;
}

.carousel-img{
    display: block;     // centering
    margin-left: auto;  // centering
    margin-right: auto; // centering
}

.carousel-indicators {
    top: 10%;
}

.carousel-indicators li {
  background-color: #999; // change color
  background-color: rgba(70,70,70,.25); 
  width: 10px;            // change to circles
  height: 10px;           // change to circles
  border-radius: 100%;    // change to circles
}

.carousel-indicators .active {
  background-color: #444;
}

.carousel-caption{
    position: static;
}

.img-focus {
    border-radius: 10px;    // rounded edges
    display: block;         // to help with centering image
    height: auto;           // adjust height to browser screen
    margin-left: auto;      // centering
    margin-right: auto;     // centering
    width: 50%;            // adjust width of image
}

.polaroid {
    border-radius: 10px;    // rounded edges
    display: block;       // center horizontally
    margin-left: auto;    // center horizontally
    margin-right: auto;   // center horizontally
    
    width: 50%;
    background-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 40px;
    padding-top: 40px;
    // opacity: 0.25;
    
    // background: rgba(76, 175, 80, 0.1);
}

.polaroid-container {
    border-radius: 10px;    // rounded edges
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

/*** About ***/
.about-text p {
    color: mediumslateblue;
    font-family: 'Life Savers', cursive;
    font-size: 14pt;
    font-weight: bold;
}

/*** Contact ***/
.contact-text p {
    color: mediumslateblue;
    font-family: 'Life Savers', cursive;
    font-size: 14pt;
    font-weight: bold;
}

.img-contact {
    padding-top: 25px;
}

.email-form-space {
    margin-top: 30px;
}

.email-form {
    display: block;
    font-family: 'Life Savers', cursive;
}

.email-form h4 {
    font-weight: bold;
}

.email-form-group {
    width: 100%;
}

.email-form-label {
    display: none;
}

.btn-email-send {
    border-radius: 9999px;
    font-weight: bold;
    float: right;
}

/*** Thank you ***/
.thankyou-body {
    margin-top: 20px;
}

.thankyou-body h4 {
    color: mediumslateblue;
    font-family: 'Life Savers', cursive;
    font-weight: bold;
    margin-bottom: 20px;
}

.thankyou-body p {
    color: mediumslateblue;
    font-family: 'Life Savers', cursive;
    font-size: 14pt;
    font-weight: bold;
}

/*** footer ***/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.my-footer {
    float: right;
    font-family: 'Special Elite', cursive;
    font-size: 12pt;
    font-weight: bold;
    margin-right: 25px;
}