.navbar-brand {
    text-transform: uppercase;
}

body {
    background-color: ivory;
    height: 100%;
    position: relative;
}

.page-body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 70px;
    min-height: 70vh; /* cover 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of footer */
}

.page-body h1 {
    color: FireBrick;
    font-family: Impact, Charcoal, sans-serif;
}

.text-with-image {
    position: relative;
}

.img-context {
    position: absolute;
    top: 0px;
    right: 0px;
}

/**** Contact ***/
.section-contact {
  background-image: image-url("contact.jpg"); /* Use image-url vs url when using Rails */
  background-attachment: fixed; /* Reveals image as scrolling */
  background-size: cover;
  color: white;
  height: 400px;
  padding-left: 500px;
  padding-top: 30px;
}

.section-contact a {
  color: FireBrick;
  transition: color 600ms;
}

.section-contact a:hover {
  color: blue;
  text-decoration: none;
}

.contact-info {
  display: inline-block;
  margin-top: 10px;
}

.contact-info-spacer {
  margin-top: 5px;
}

/*** footer ***/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.my-footer {
    float: right;
    font-weight: bold;
    margin-right: 25px;
}