.new_user {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.edit_user {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.user-forgot-pwd{
    max-width: 400px;
}

.hdr-user {
    font-weight: bold;
}

.hdr-cancel {
    margin-top: 15px;
}

.checkbox {
    margin-bottom: 10px;
}

.user-remember-me {
    display: inline;
    font-weight: bold;
}

.user-links {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.user-links a {
    font-weight: bold;
    font-size: 12pt;
}

.user-login {
    font-weight: bold;
}

.user-sign-up {
    font-weight: bold;
}

.user-forgot-pwd {
    font-weight: bold;
    float: right;
}

.user-password {
    font-weight: bold;
}

.user-cancel {
    font-family: 'Life Savers', cursive;
    font-size: 14pt;
}

.user-links-back {
    width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.user-links-back a {
    font-weight: bold;
    font-size: 12pt;
}

.forgot-links {
    max-width: 400px;
    padding: 5px;
    margin: 0 auto;
}

.forgot-links a {
    font-weight: bold;
    font-size: 12pt;
}

.forgot-login {
    
}

.passwords-sign-up {
    float: right;
    padding-right: 45px;
}