.new_user {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.edit_user {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.user-forgot-pwd{
    max-width: 400px;
}

.hdr-cancel {
    margin-top: 15px;
}

.checkbox {
    margin-bottom: 10px;
}

.user-remember-me {
    display: inline;
    font-weight: bold;
}

.user-links {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.user-login {
    font-weight: bold;
}

.user-sign-up {
    font-weight: bold;
}

.user-forgot-pwd {
    font-weight: bold;
    float: right;
}

.user-password {
    font-weight: bold;
}

.user-cancel {
    font-family: 'Life Savers', cursive;
    font-size: 14pt;
}

.user-links-back {
    width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.forgot-links {
    max-width: 400px;
    padding: 5px;
    margin: 0 auto;
}

.forgot-login {
    
}

.passwords-sign-up {
    float: right;
    padding-right: 45px;
}

.user-control {
    width: 330px;
}

.user-link-section {
    font-weight: bold;
    font-size: 12pt;
}

#tblUsers {
    font-family: 'Life Savers', cursive;
    font-size: 14pt;
    border-collapse: collapse;
}

#tblUsers td, #tblUsers th {
    border: 1px solid black;
    padding: 8px;
    font-family: 'Life Savers', cursive;
    font-weight: bold;
}

#tblUsers tr:nth-child(even){background-color: steelblue;}

#tblUsers tr:hover {background-color: linen;}

#tblUsers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}