<hr>
<h6 class="product-title">Customer Reviews</h6>

<div id="product_reviews" class="product-reviews">
    <% @comments.each do |comment| %>
        <%= render comment %>  <!-- see views/comments/_comment.html.erb --> 
    <% end %>
    
    <hr>
    
    <!-- see ProductsController to change the number of comments shown -->
    <%= will_paginate @comments, 
      previous_label:"<< Previous",
      next_label: "Next >>",
      link_separator: "&nbsp;&nbsp;&nbsp;&nbsp;" %>
      
    <div id="page-entries" class="page-entries text-muted"><%= page_entries_info @comments %></div>
    
</div>