<h1 class="hdr hdr-introduction">Products</h1>

<div class="container-fluid">
  <div class="row">
    <%= render @products %> <!-- see _product.html.erb for html -->
  </div>
</div>

<br>
<hr>

<%= link_to 'New Product', new_product_path, class: "product-text" %>
