<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Special+Elite|Life+Savers" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
